@import 'variables';

.dot {
    border-radius: 50%;
    display: inline-block;
    width: 24px;
    height: 24px;
    max-width: 24px;
    max-height: 24px;
    bottom: -6px;
    position: relative;
    color: black;
    border: 1px solid black;

    @each $name, $value in $colors-dots {
        &.#{"" + $name} {
            background-color: $value;
        }
    }
}

.selected, .dotContainer input:checked ~ .checkmark {
    border: 2px solid black;
}

.remover {
    margin-left: 10px;
    text-decoration: none;
    color: darkred;
    font-weight: bold;
    font-size: 16px !important;
}

/* region Color selectors */
.dotContainer {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    margin: 6px 8px 12px auto;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    line-height: 22px;

    & input {
        position: fixed;
        opacity: 0;
        cursor: pointer;
        top: -20px;
        left: -20px;
    }
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

/* endregion */
