//$primary: #0077b6;
$primary: #157cb2;
$success: #138E00;
$danger: #8d2933;

@import 'bootstrap/scss/bootstrap';

@import './variables';
@import './colordots';
@import './styles';
@import './table';
