@import 'variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

* {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;

    &, *:before, &:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

svg {
    &.delete {
        color: #8d2933;
    }
}

html, body {
    margin: 0;
    padding: 0;

    background-color: map-get($colors, background);
}

select {
    @each $name, $value in $colors-dots {
        &.#{"" + $name} {
            background-color: transparentize($value, .75);
        }
    }
}

.rule-actions {
    float: right;
    margin-right: 40px;
    cursor: pointer;
}


atg-tabgroup-list > .container > .row:not(.header, :last-child) {
    border-bottom: 1px solid #121212;
}

div.header {
    border-bottom: 2px solid #121212;

    & .col {
        font-weight: bold;
    }
}

div.path-grid {
    display: grid;
    grid-template-areas:
        'path actions'
        'recursive actions';
    grid-column-gap: 16px;
    grid-template-columns: 1fr fit-content(100px);

    .form-floating {
        grid-area: path;
    }

    .form-switch {
        grid-area: recursive;
    }

    .path-delete {
        grid-area: actions;
        cursor: pointer;
    }
}

.alert-list {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2000;
}

.btn {
    &.btn-success {
        color: map-get($colors, color);
    }

    &.btn-outline-success {
        color: black;
    }
}

#main-content {
    border: 0;

    .card-header {
        border-bottom: 1px solid #232323;
        padding: 20px;
    }

    .card-footer {
        padding: 16px;
    }
}

.nav.nav-tabs {
    .nav-item {
        &:not(:last-child) {
            margin-right: 8px;
        }

        .nav-link {
            background-color: transparentize(#f5f5f5, .5);

            &.active {
                border-width: 2px;
                background-color: transparentize($primary, .9);
                font-weight: bold;
            }
        }
    }
}

.tab-pane {
    padding-top: 10px;
}

section:not(:last-child) {
    margin-bottom: 8px;
}

textarea {
    &[data-atg-imex-import], &[data-atg-imex-export] {
        height: 600px;
        resize: none;
    }

    &.valid {
        border-color: limegreen;
        border-width: 2px;
    }

    &.invalid {
        border-color: red;
        border-width: 3px;
    }
}

.imex-overlay {
    pointer-events: none;
    display: none;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;

    .message {
        color: white;
        text-shadow: 2px 2px 2px black;
        text-align: center;

        .text {
            font-size: 24px;
            letter-spacing: .1rem;
        }
    }

    svg {
        margin-bottom: 20px;
    }
}

.hint {
    font-style: italic;
    text-align: center;
}
