.col-name {
    text-align: left;
    min-width: 200px;
    max-width: 200px;
    width: 200px;
}

.col-color {
    text-align: left;
    min-width: 80px;
    max-width: 80px;
    width: 80px;
}

.col-rules {
    text-align: left;
    width: auto;

    svg {
        float: right;
        cursor: pointer;
        margin-left: 6px;

        &:not(:last-child) {
            margin-left: 6px;
        }
    }

    ul {
        list-style: none;
        padding-inline-start: 0;
        margin-block-end: 0;
    }
}

.col-actions {
    text-align: center;
    width: 200px;
    max-width: 200px;
}
