$colors-dots: (
    'grey': #bdc1c6,
    'blue': #8ab4f8,
    'red': #f28b82,
    'yellow': #fdd663,
    'green': #81c995,
    'pink': #ff8bcb,
    'purple': #d7aefb,
    'cyan': #78d9ec,
);

$select-fade: 0.25;

$colors: (
    background: #313435,
    color: #efefef,
);

/*
 * Override the default bootstrap colors
 */

//$primary: #0077b6;
//$secondary: #123456;
//$success: #123456;
//$info: #123456;
//$warning: #123456;
//$danger: #123456;
//$light: #123456;
//$dark: #123456;
